.header__box {
  &--title {
    font-weight: 200;
    font-size: 1.6rem;
    color: $neutral-grey-500;
  }

  &--subtitle {
    font-weight: 600;
    font-size: 1.6rem;
    color: $neutral-grey-500;
    margin-bottom: 0.5rem;
  }

  &--text {
    text-align: center;
    font-weight: 400;
    font-size: 0.9333333rem;
    color: $neutral-grey-400;

    // MEDIA QUERY
    @media only screen and (max-width: $bp-smallest) {
      & {
        width: 54%;
      }
    }
  }
}

.main__box {
  &--title {
    font-size: 1rem;
    font-weight: 500;
    color: $neutral-grey-500;
  }

  &--text {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }
}
